
body {
  margin: 0;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.topbar {
  display: flex;
  flex-direction: row;
  background-color: grey + #444;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  &-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    h2 {
      margin: 10px;
      cursor: pointer;
    }
  }
  &-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      height: 50px;
      width: 50px;
      margin-right: 10px;
    }
    p {
      margin: 0;
      padding: 2px;
    }
    &-counter {
      display: flex;
      flex-direction: column;
      &-elem {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

.mainplace {

  &-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //height: 100%;
    //background-color: red;
    width: 75vw;
    justify-content: center;
    align-content: flex-start;
    img {
      width: 300px;
    }
    &-block {
      display: flex;
          //background-color: red;
      flex-direction: column;
      margin: 30px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      h2 {
        margin: 0;
      }
      p {
        font-size: 16pt;
      }
      &-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 2px solid black;
        border-radius: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: grey + #444;
        cursor: pointer;
        img {
          width: 30px;
          height: 30px;
        }
        p {
          margin: 0;
        }
      }
    }
  }

  &-cart {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    h1 {
      align-self: flex-end;
      margin: 0;
    }
    h2 {
      align-self: flex-end;
      margin: 0;
    }
    &-block {
      padding: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      img {
        width: 300px;
        height: 190px;
        padding: 10px;
      }
      &-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        h2 {
          margin: 0;
          align-self: flex-start;
          font-size: 2em;
        }
        p {
          margin-top: 5;
          margin-bottom: 0;
          font-size: 1.5em;
        }
        &-price {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          p {
            margin: 0;
          }
          h3 {
            margin: 0;
            font-size: 1.5em;
          }
          img {
            width: 35px;
            height: 35px;
          }
          input {
            width: 50px;
          }
        }
      }
    }
    &-button {
      display: flex;
      flex-direction: row;
      width: 20%;
      border: 2px solid black;
      border-radius: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;
      padding-right: 20px;
      background-color: green + #647;
      justify-content: center;
      align-items: center;
      align-self: flex-end;
      margin-top: 30px;
      cursor: pointer;
      img {
        width: 40px;
        height: 40px;
      }
      p {
        font-size: 25pt;
        margin: 0;
      }
    }
  }
}
.modalface {

  &-dialog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      width: 300px;
      height: 190px;
    }
    &-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      &-headers {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin-right: 30px;
        h2 {
          margin: 0px;
        }
      }
      &-values {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        margin: 0;
        input {
          width: 40px;
        }
        h2 {
          margin: 0px;
        }
      }
    }
  }
  &-button {
    display: flex;
    flex-direction: row;
    width: 50%;
    border: 2px solid black;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: green + #647;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
    img {
      width: 40px;
      height: 40px;
    }
    p {
      font-size: 25pt;
      margin: 0;
    }
  }
}
